.mains{
    background-color: #004DB3;
    .bo{
        display: flex;
        color: #004DBE;
        background: #ffffff;
        width: 145px;
        height: 54px;
        padding: 16px 32px;
        border-radius: 4px;
        border: none;
        font-family: 'satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 5rem;
        margin-left: 30rem;
    }
 .section4{
    color: #fff;
   
   
 }
 .container{
   
    .img{
        justify-content: center;
        display: flex;
        gap: 1rem;
    }
 }
}