.main{
    margin-top: 3rem;
    .row{
        gap: 2rem;
        margin: 0 2px 0 2px;

        .pics1{
            background: #05259b;
            width: 30%;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .pics3{
            background: #fafa33;
            width: 30%;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .pics2{
            background: #facedc;
            width: 30%;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .pics4{
            background: #a52a2a;
            width: 30%;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

}